body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
#input-el {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 7px;
  border: 1px solid #5f9341;
}
#input-btn {
  background-color: #5f9341;
  color: white;
  border: solid 1px #5f9341;
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: bold;
}
#input-btn:hover {
  background-color: #b2db9b;
}
#delete-btn {
  border: 1px solid #5f9341;
  background: none;
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: bold;
  color: #5f9341;
}
#delete-btn:hover {
  background: #b2db9b;
  color: white;
  border: solid 1px #b2db9b;
}
ul {
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
}
li {
  margin-top: 7px;
}
li a {
  color: #5f9341;
}
